* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* header */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 43px;
  background: #fff;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  color: #25a4ad;
  margin-right: 70px;
}

.nav-elements {
  display: flex;
  gap: 35px;
  flex: 1;
}

.nav-elements a {
  text-decoration: none;
  color: #313131;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-elements a:hover {
  color: #25a4ad;
}

.signIn-signUp {
  display: flex;
  align-items: center;
  gap: 20px;
}

#signIn {
  text-decoration: none;
  font-size: 18px;
  color: #313131;
}

#signUp {
  text-decoration: none;
  border: 1px solid #25a4ad;
  padding: 8px 16px;
  color: #25a4ad;
  font-size: 18px;
  border-radius: 4px;
  transition: all 0.3s;
}

#signUp:hover {
  background-color: #25a4ad;
  color: #fff;
}

.hero-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  padding-right: 15%;
  padding-left: 15%;
  position: relative;
}

.p1 .hero-section-heading {
  width: 400px;
  font-size: 70px;
  font-weight: 400;
}

.special {
  color: #25a4ad;
}

.p1 .hero-section-para {
  color: #313131;
  font-size: 16px;
  font-weight: 400;
  width: 426px;
  margin-top: 20px;
}

.p1 .hero-section-b1 {
  font-size: 18px;
  font-weight: 400;
  padding: 8px 25px;
  margin-top: 30px;
  background-color: #25a4ad;
  border: none;
  color: #fff;
  transition: all 0.5s;
}

.p1 .hero-section-b1:hover {
  background-color: #fff;
  color: #25a4ad;
  border: 1px solid #25a4ad;
}

.p1 .hero-section-b2 {
  font-size: 18px;
  font-weight: 400;
  padding: 8px 25px;
  margin-top: 20px;
  margin-left: 10px;
  border: 1px solid #25a4ad;
  background-color: #fff;
  color: #25a4ad;
  transition: all 0.5s;
}

.p1 .hero-section-b2:hover {
  background-color: #25a4ad;
  color: #fff;
  border: 1px solid #fff;
}

.hero-section .p2 {
  margin-left: 100px;
}

.p2 .img1 {
  width: 400px;
  height: 650px;
}

.p2 .img2 {
  position: absolute;
  top: 9%;
  left: 40%;
}

.logos-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos-div {
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.logos-div img {
  width: 100px;
  margin-left: 150px;
}

/* best services */

.best-services {
  margin-top: 80px;
  text-align: center;
}

.best-services-heading {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 40px;
}

.best-services-para {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 16px;
  color: #313131;
}

.some-services {
  margin-top: 60px;
}

.some-services .p1 {
  display: flex;
  justify-content: center;
}

.p1 .box1 {
  border: 1px solid black;
  width: 30%;
  height: 472px;
  border-top-left-radius: 300px;
  padding: 120px;
  margin-right: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/Rectangle\ 32.png);
}

.p1 .box1,
.box2,
.box3,
.box4 h1 {
  color: #fff;
  font-weight: 400;
}

.p1 .box2 {
  border: 1px solid black;
  width: 30%;
  height: 472px;
  border-top-right-radius: 300px;
  padding: 120px;
  margin-top: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/Rectangle\ 33.png);
}

.p2 {
  display: flex;
  justify-content: center;
}

.p2 .box3 {
  border: 1px solid black;
  width: 30%;
  height: 472px;
  border-bottom-left-radius: 300px;
  padding: 120px;
  margin-right: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/Rectangle\ 34.png);
}

.p2 .box4 {
  border: 1px solid black;
  width: 30%;
  height: 472px;
  border-bottom-right-radius: 300px;
  padding: 120px;
  margin-top: 40px;
  margin-bottom: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/Rectangle\ 35.png);
}

.fa {
  color: #f5b91e;
  margin-top: 5px;
}

.some-services .best-services-button {
  text-decoration: none;
  border: 1px solid #25a4ad;
  padding: 8px 25px;
  color: #25a4ad;
  margin-bottom: 40px;
  transition: all 0.5s;
}

.some-services .best-services-button:hover {
  background-color: #25a4ad;
  color: #fff;
  border: 1px solid #fff;
}

/* Our features */

.our-features {
  margin-top: 80px;
  text-align: center;
  background-color: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 25px;
}

.our-features-heading {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}

.our-features-para {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  color: #313131;
}

.our-features .boxes {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.our-features .box {
  border: 1px solid #e8e8e8;
  width: 350px;
  height: 342px;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
}

.our-features .box-heading {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
}

.our-features .box-para {
  font-weight: 400;
  font-size: 16px;
  width: 250px;
  margin-bottom: 30px;
  color: #313131;
}

.our-features .box-button {
  color: #313131;
  font-size: 16px;
  font-weight: 400;
}

.our-features .special-box {
  border: 1px solid #fff;
  width: 350px;
  height: 342px;
  margin: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all 0.2s;
}

.our-features .special-box:hover{
  border: 3px solid #25a4ad;
}

.our-features .special-box-heading {
  color: #25a4ad;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.our-features .special-box-para {
  font-weight: 400;
  font-size: 16px;
  width: 250px;
  margin-bottom: 30px;
  color: #313131;
}

.our-features .special-box-button {
  color: #25a4ad;
  font-size: 16px;
  font-weight: 400;
}

.our-features .our-features-explore-button {
  text-decoration: none;
  border: 1px solid #25a4ad;
  padding: 8px 25px;
  color: #25a4ad;
  margin-bottom: 40px;
  transition: all 0.5s;
}

.our-features .our-features-explore-button:hover {
  background-color: #25a4ad;
  color: #fff;
  border: 1px solid #fff;
}

/* client-say */

.client-say {
  margin-top: 80px;
  text-align: center;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.client-say-heading {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 10px;
}

.client-say-para {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
  color: #313131;
}

.client {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.client-pic {
  width: 482px;
  height: 472px;
  border-top-left-radius: 300px;
  padding: 120px;
  margin-right: 20px;
  background-image: url(./images/client.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.client-comment {
  width: 670px;
  height: 472px;
  border-bottom-right-radius: 300px;
  padding: 120px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: left;
  background-color: #f8f8f8;
}

.client-comment-heading {
  font-size: 27px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 20px;
}

.client-comment-para {
  font-size: 16px;
  font-weight: 400;
  color: #313131;
  width: 400px;
  margin-bottom: 10px;
}

.client-name {
  font-size: 16px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 5px;
  margin-top: 10px;
}

.client-role {
  font-size: 14px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 10px;
}

.fa-arrow {
  border: 1px solid #25a4ad;
  margin-right: 10px;
  width: 33px;
  height: 23px;
  border-radius: 30px;
  padding: 4px;
  margin-bottom: 20px;
  color: #25a4ad;
  transition: all 0.5s;
}

.fa-arrow:hover {
  color: #fff;
  background-color: #25a4ad;
  border: 1px solid #25a4ad;
}

/* pricing plan */

.pricing-plan {
  margin-top: 50px;
  text-align: center;
}

.pricing-plan .pricing-plan-heading {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 70px;
}

.boxes {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  border: 1px solid #e8e8e8;
  width: 362px;
  height: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-bottom: 20px;
}

.box:hover {
  border: 3px solid #25a4ad;
}

.box-heading {
  font-size: 30px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 10px;
}

.box-cash-heading {
  font-size: 60px;
  font-weight: 400;
  color: #313131;
}

.box-heading2{
  font-size: 60px; 
  font-weight: 400;
  color: #313131;
}

.feature-list {
  line-height: 1.8;
}

.feature-list ul {
  width: 260px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.feature-list ul li {
  font-size: 16px;
  font-weight: 400;
  color: #313131;
  list-style-type: disc;
}

.box-button{
  text-decoration: none;
  border: 1px solid #25a4ad;
  padding: 8px 25px;
  color: #25a4ad;
  margin-bottom: 40px;
  transition: all 0.5s;
  margin-top: 20px;
}

.box-button:hover{
  background-color: #25a4ad;
  color: #fff;
  border: 1px solid #fff;
}










/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
  background-color: #25a4ad;
  border-radius: 50px;
}
