

/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
  background-color: #25a4ad;
  border-radius: 50px;
}
