






/* pricing plan */

.pricing-plan {
  margin-top: 50px;
  text-align: center;
}

.pricing-plan .pricing-plan-heading {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 70px;
}

.boxes {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box {
  border: 1px solid #e8e8e8;
  width: 362px;
  height: 450px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  margin-bottom: 20px;
}

.box:hover {
  border: 3px solid #25a4ad;
}

.box-heading {
  font-size: 30px;
  font-weight: 400;
  color: #313131;
  margin-bottom: 10px;
}

.box-cash-heading {
  font-size: 60px;
  font-weight: 400;
  color: #313131;
}

.box-heading2{
  font-size: 60px; 
  font-weight: 400;
  color: #313131;
}

.feature-list {
  line-height: 1.8;
}

.feature-list ul {
  width: 260px;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.feature-list ul li {
  font-size: 16px;
  font-weight: 400;
  color: #313131;
  list-style-type: disc;
}

.pricing-plan .box-button{
  text-decoration: none;
  border: 1px solid #25a4ad;
  padding: 8px 25px;
  color: #25a4ad;
  margin-bottom: 40px;
  transition: all 0.5s;
  margin-top: 20px;
}

.pricing-plan .box-button:hover{
  background-color: #25a4ad;
  color: #fff;
  border: 1px solid #fff;
}










/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
  background-color: #25a4ad;
  border-radius: 50px;
}
