
/* FAQS */

.FAQS{
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faqs-heading{
  font-size: 65px;
  font-weight: 400;
  color: #25a4ad;
  margin-bottom: 20px;
}

.card{
  width: 600px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px 4px #f1f1f1 ;
  margin-bottom: 20px;
}

.card-text{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fa-plus{
  font-size: 40px;
}

.card-para{
  width: 492px;
  font-size: 16px;
  margin: 0;
}












/* Scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--supporting-color);
}

::-webkit-scrollbar-thumb {
  background-color: #25a4ad;
  border-radius: 50px;
}
